
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.heading,
.menu,
.page-links {
  display: flex;
}

.heading {
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 24px 0;
  border: 1px solid blue;
}

.logo {
  display: inline-block;
  width: 200px;
  height: auto;
}

.page-links {
  align-items: center;
  list-style-type: none;
  margin:  0 0 0 20px;
}

.page-links > li ,
.menu:nth-child(1) {
  margin: 0 10px 0 0;
}

.menu {
  width: calc(100% - 200px);
  justify-content: space-between;
}

.hamburger-menu-icon {
  display: none;
}

.login > .sign-up,
.login > .account {
  border: 1px solid red;
  padding: 16px 22px;
  margin: 0 0 0 10px;
}


@media screen and (max-width: 900px) {
  
  .heading {
    justify-content: space-between;
  }
  
  .hamburger-menu-icon {
    /* display: flex; */
    display: none;
  }

  .heading {
    position: fixed;
    top: 0;
    background: blue;
    width: 100%;
    height: 100vh;
    padding: 0;
  }

  .heading,
  .menu,
  .page-links {
    flex-direction: column;
    justify-content: start;
  }

  .menu {
    width: unset;
  }

  .page-links,
  .page-links > li,
  .menu:nth-child(1) {
    margin: 0;
  }

  .login > .sign-up,
  .login > .account { /* buttons */
    display: block;
    margin: 0;
  }

  a {
    color: white;
  }
}



