
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.heading,
.nav-right,
.page-links {
  display: flex;
}

.heading {
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: 200px;
  height: auto;
}

.page-links {
  align-items: center;
  list-style-type: none;
  margin:  0 0 0 20px;
}

.page-links > li ,
.nav-right:nth-child(1) {
  margin: 0 10px 0 0;
}

.nav-right {
  width: calc(100% - 200px);
  justify-content: space-between;
}

.hamburger-menu-icon {
  display: none;
}



@media screen and (max-width: 700px) {
  
  .heading {
    justify-content: space-between;
  }
  
  .hamburger-menu-icon {
    display: flex;
  }

  .nav-right {
    display: none;
  }
}



