@import url('https://fonts.googleapis.com/css2?fM+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: sans-serif;
}

.heading,
.nav-right,
.page-links{
   display: flex;
}

.heading {
   display: flex;
   width: 90%;
   margin: 0 auto;
   margin-top: 10px;
   border: 1px solid purple;
   position: fixed;
   top: 0;  
}

.logo{
    display: inline-block;
    width: 180px;
    margin-left: 0px;
    height: auto;
    border: 1px solid red;
}
.nav-right{
    justify-content: space-between;
    width: calc(100% - 200px);
    border: 1px solid green;
}

.page-links{
    border: 1px solid black;
    list-style-type: none;
    margin-left: 0px;
}

.hamburger-menu-icon{
    display: none;
}



.page-links > li  {
  margin: 0 auto;
  font-size: 17px;
  padding: 10px 20px;
  color: rgb(3, 24, 36);
}

.page-links li a{
    text-decoration: none;
    color: rgb(3, 24, 36);

}

.login{
    height: auto;

}

.login .sign-up{
    color: black;
    padding: 16px 20px;
    border: 1px solid;
    margin: 5px 0 0 0;
    border-radius: 10px;
    font-size: 17px;

}
.login .account{
    color: white;
    padding: 16px 20px;
    margin: 12px 0 0 0;
    border: 1px solid;
    border-radius: 10px;
    font-size: 17px;
    background-color:rgb(3, 24, 36);
}


.login{
    margin: 10px 0px 0 0;
}

.login a{
    text-decoration: none;
    font-weight: 700;
    margin-top: 3px;
}

.hero-section,
.hero-image{
    display: flex;
}

.hero-section{
    border: 1px solid firebrick;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin-left: 30px;
}

.hero-head{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 130px;
    width: 40%;
}

.hero-sublinks img{
    width: 20px;
}

.hero-head h1{
    font-size: 65px;
    border: 1px solid darkgray;
    display: flex;
    justify-content: center;
    color: rgb(3, 24, 36);
    line-height: 70px;
}

.hero-head p{
   font-size: 16px;
   align-items: flex-start;
   border: 1px solid chartreuse;
   line-height: 22px;
   margin-bottom: 30px;
}

.hero-links{
    border: 1px solid violet;
}

.hero-links .account{
   margin-bottom: 40px;
   border: 1px solid darkgrey;
   color: white;
   padding: 19px 23px;
   width: 20%;
   border: 1px solid black;
   border-radius: 10px;
   font-weight: 600;
   font-size: 17px;
   background-color:rgb(3, 24, 36);
   margin-bottom: 0px;
   margin-left: 0px;
}

.hero-links a{
    text-decoration: none;
}


.hero-links .hero-sublinks{
    margin-top: 40px;
    padding: 0px 30px 0px 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
}

.hero-links .hero-sublinks a{
    text-decoration: none;
    border: 1px solid rgb(204, 203, 203);
    margin-right: 22px;
    margin-left: 0px;
    padding: 10px 20px;
    color: #111;
    border-radius: 10px;
}

.hero-links .hero-sublinks img{
    margin-top: 3px;
    position: relative;
    top: 2px;
    right: 3px;
}
.hero-image{
    width: 43%;
}

.hero-image .white{
    z-index: 1;
    position: relative;
    right: 90px;
    bottom: 0px;
    width: 950px;
    height: 100%;
    padding: 0px 0 0px 0;
}
.hero-image .white img{
    position: relative;
    border: 2px solid black;
    width: 350px;
    height: 100%;
    right: 190px;
    border-radius: 20px;
}

.hero-image .cover{
    position: relative;
    z-index: 2;
}
 
.hero-image .cover img{
   border-radius: 10px;
   position: relative;
   top: 20px;
   left: 20px;
}

.Securities{
    border: 1px solid ;
    display: flex; 
    justify-content: center;   
}

.Securities .secure{
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secure img{
    border-radius: 10px 10px 290px 290px;
    height: 120px;
    margin-right: 50px;
    margin-top: 50px;
}

.Securities .secure h1{
    font-size: 30px;
    color: rgb(3, 24, 36);
    margin-bottom: 10px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Securities .secure p{
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px;
}

.Securities .secure a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(58, 58, 245);
}

@media only screen and (max-width: 400px) {
       .page-links{
           display: none;
       }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
            .heading{
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                width: 90%;
            }

            .nav-right{
                display: none;
            }

            .hamburger-menu-icon{
                display: flex;
            }
            .hamburger-menu-icon img{
                width: 30px;
                height: 30px;
            }

            .logo{
                width: 150px;
            }

            .hero-section{
                display: flex;
                width: 100%;
                height: 500px;
                margin-top: 20px;
            }

            .hero-section .hero-head {
                 width: 90%;
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
                 border: 1px solid teal;
                 padding-top: 0px;
                 margin: 0 auto;
            }

            .hero-section .hero-head h1{
                font-size: 58px;
                margin-top: 90px;
                margin-bottom: 30px;
                text-align: center;
                width: 500px;
                line-height: 70px;
                color: rgb(3, 24, 36);
            }

            .hero-section .hero-head p{
                margin-bottom: 20px; 
                color: rgb(3, 24, 36);
                line-height: 30px;
                font-size: 17px;
                border: 1px solid forestgreen;
                text-align: center;
            }

            .hero-links{
                padding: 20px 30px 30px 30px;
            }
            .hero-links a{
                text-decoration: none;
            }

            .hero-image{
                display: none;
            }

            .hero-links .account{
                color: white;
                padding: 19px 23px;
                width: 20%;
                border: 1px solid black;
                border-radius: 10px;
                font-weight: 600;
                font-size: 17px;
                background-color:rgb(3, 24, 36);
                margin-bottom: 0px;
                margin-left: 90px;
            }

            .hero-links .hero-sublinks{
                margin-top: 40px;
                padding: 0px 30px 0px 0px;
                margin-right: 0px;
                display: flex;
                justify-content: space-around;
            }

            .hero-links .hero-sublinks a{
                text-decoration: none;
                border: 1px solid rgb(204, 203, 203);
                margin-right: 22px;
                margin-left: 16px;
                padding: 10px 20px;
                color: #111;
                border-radius: 10px;
            }

            .hero-links .hero-sublinks img{
                margin-top: 3px;
                position: relative;
                top: 2px;
                right: 3px;
            }
       }


/*.heading .fixed-header .logo{
    margin-left: 30px;
    display: flex;
    padding-top: 20px;

}

.heading .fixed-header .logo h2{
    font-size: 30px;
    color: rgb(3, 24, 36);
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.heading .fixed-header .logo img{
    width: 50px;
    height: 50px;
}

.heading .fixed-header .nav-middle{
    display: flex;
    margin: 0px 10px 0px 0px;
    padding: 20px 60px 0px 0px;
}

.heading .fixed-header .nav-middle ul{
       display: flex;
        list-style: none;


}

.heading .fixed-header .nav-middle ul li{
    margin: 0 19px 0 27px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 7px 5px 7px 5px;
    color: rgb(3, 24, 36);
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
}

.heading .fixed-header .nav-middle ul li a{ 
    text-decoration: none;
    color: rgb(3, 24, 36);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.drop-menu{
    display: none;
}

.heading .fixed-header .nav-middle ul li:hover .drop-menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    left: -190px;
}

.heading .fixed-header .nav-middle .drop-menu ul{
    display: flex;
    border: 1px solid #111;
    flex-wrap: wrap;
    width: 420px;
    height: 140px;
    border-radius: 20px;
}

.heading .fixed-header .nav-middle .drop-menu ul li{
       width: 150px;
       height: 60px;
       padding-right: 80px;
       margin-bottom: 0px;
       display: flex;
       flex-wrap: nowrap;
}


.heading .fixed-header .nav-right{
    padding: 30px 10px 39px 30px;
    margin: 0px 20px 0px 0px;
}

.heading .fixed-header .nav-right a{ 
    margin: 0px 50px 0px 0;
    text-decoration: none;
}
.heading .fixed-header .nav-right .sign-up{
    padding: 18px 18px 18px 18px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.heading .fixed-header .nav-right .sign-up:hover{
    color: rgb(8, 140, 180);
    border-color: rgb(8, 140, 180);
    transition-duration: 1s;
    
}

.heading .fixed-header .nav-right .account{
    padding: 18px 30px 18px 30px;
    border-radius: 10px;
    color: white;
    background-color:rgb(3, 24, 36);
    font-weight: 600; 
}

.heading .fixed-header .nav-right .account:hover{
    background-color:  rgb(8, 140, 180);
    transition: 1s;
}


.heading .relative-header{
    margin: 70px 0 0px 0;
    padding: 50px 0 390px 60px;
    height: 550px;
}
.heading .relative-header .rel-textheader{
    padding: 35px 0 50px 49px;
    height: 490px;
}


.heading .relative-header h1{
    font-size: 70px;
    color: rgb(3, 24, 36);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
    


.heading .relative-header .relative-links{   
      margin: 20px 0px 40px 0px ;
      padding: 30px 50px 50px 0px;
      display: inline-block;

}

.heading .relative-header .relative-links .relative-sublinks{
        margin: 20px 0 0 0;
        padding: 20px 20px 20px 0px;
    }

.heading .relative-header .relative-links .relative-sublinks a{
    border: 1px solid rgb(204, 203, 203);
    margin-left: 2px;
    padding: 17px 17px 17px 17px;
    text-decoration: none;
    color: #111;
    border-radius: 10px;
    font-size: 13px;
    font-weight:500;
}    


.heading .relative-header .relative-links .account{
    padding: 18px 30px 18px 30px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background-color:rgb(3, 24, 36);
    font-weight: 600; 
    border: 1px solid #111;
    margin-bottom: 20px;

}
.heading .relative-header .relative-links img{
     width: 30px;
     border: 1px solid #111;
     margin-right: 7px;
     height: 28px;
     position: relative;
     top: 9px;
}

.heading .relative-header .rel-image .cover img{
    border: 1px solid#888;
    margin-left: 190px;
    position: relative;
    bottom: 520px;
    right: -490px;
    border-radius: 20px;
    z-index: 3;
}
.heading .relative-header .rel-image .white img{  
     border: 2px solid#222;
     position: relative;
     bottom: 1050px;
     left: 740px;
     height: 560px;
     border-radius: 20px;
     width: 340px;
     z-index: 1;
}

.Securities{
    
    margin-bottom: 60px;
}

.Securities .secure{
    border: 1px solid #111;
    text-align: center;
    margin: 0px 0px 50px 0px;
    padding: 150px 0px 30px 0px;
    height: 400px;
}



.Securities .secure img{
       width: 120px;
       height: 120px;
       position: relative;
       right: 270px;
       bottom: 90px;

}
.Securities .secure h1{
    margin-left: 490px;
    margin-bottom: 0px;
    font-size: 34px;
    width: 500px;
    position: relative;
    right: 20px;
    bottom: 250px;
    color: rgb(3, 24, 36);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Securities .secure p{
    margin-top: 0px;
    width: 690px;
    margin-left: 480px;
    line-height: 30px;
    position: relative;
    bottom: 230px;

}

.Securities .secure a{
    text-decoration: none;
    padding: 4px 4px 4px 4px;
    color: rgb(8, 140, 180);
    margin: 90px 0px 0px 0px;
    border: 1px solid #333;
    position: relative;
    bottom: 190px;
    right: 150px;
}

.Securities .secure a::after{
   content: "";
   background-color: black;
   width: 0%;
   height: 0px;
   display: inline-block;
   border-bottom: 3px solid #444;
   grid-column: auto;


} 
.Securities .secure a:hover::after{
    width: 10%;
    transition: all 0.5s ease-in-out;
}



.Securities .savings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 700px;
    margin-bottom: 300px;

}

.Securities .savings .save-intro{
    margin-left: 50px;
    height: 300px;
    padding: 0px 30px 0px 30px;
}


.Securities .savings .save-intro h1{
    font-size: 35px;
    color: rgb(3, 24, 36);
    line-height: 42px;
    margin-bottom: 12px;
}
.Securities .savings .save-intro p{
    line-height: 25px;
}

.Securities .savings .save-intro a{
    padding: 18px 30px 18px 30px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background-color:rgb(3, 24, 36);
    font-weight: 600; 
    border: 1px solid #111;
    position: relative;
    top: 50px;
    
}


.Securities .savings .save-2nd{
    margin-left: 50px;
    height: 300px;
    border-radius: 20px;
    padding: 0px 30px 0px 30px;
    background-color: rgb(230, 230, 220, 0.3);
}
.Securities .savings .save-2nd img{
    margin-bottom: 40px;
}

.Securities .savings .save-2nd h2{
    font-size: 19px;
    color: rgb(3, 24, 36);
}

.Securities .savings .save-2nd p{
    line-height: 25px;
    margin-top: 20px;
}

.Securities .savings .save-2nd a{
    position: relative;
    top: 60px;
    text-decoration: none;
    color: #111;
}

.Securities .savings .save-3rd{
    margin-left: 50px;
    height: 300px;
    border-radius: 20px;
    padding: 0px 30px 0px 30px;
    background-color: rgb(230, 230, 220, 0.3);
}

.Securities .savings .save-3rd img{
    margin-bottom: 40px;
}


.Securities .savings .save-3rd h2{
    font-size: 19px;
    color: rgb(3, 24, 36);
}
.Securities .savings .save-3rd p{
    line-height: 25px;
    margin-top: 0px;
}

.Securities .savings .save-3rd a{
    position: relative;
    top: 60px;
    text-decoration: none;
    color: #111;
}

.Securities .savings .save-4th{
    height: 300px;
    border-radius: 20px;
    padding: 0px 30px 0px 30px;
    margin-left: 500px;
    background-color: rgb(230, 230, 220, 0.3);
}

.Securities .savings .save-4th img{ 
    margin-bottom: 40px;
}

.Securities .savings .save-4th h2{
    font-size: 19px;
    color: rgb(3, 24, 36);
}

.Securities .savings .save-4th p{
    line-height: 25px;
    margin-top: 0px;
}

.Securities .savings .save-4th a{
    position: relative;
    top: 60px;
    text-decoration: none;
    color: #111;
}

.Securities .savings .save-5th{
    height: 300px;
    border-radius: 20px;
    padding: 0px 30px 0px 30px;
    margin-left: 50px;
    background-color: rgb(230, 230, 220, 0.3);
}

.Securities .savings .save-5th img{
    margin-bottom: 40px;
}

.Securities .savings .save-5th h2{
    font-size: 19px;
    color: rgb(3, 24, 36);

}

.Securities .savings .save-5th p{
    line-height: 25px;
    margin-top: 0px;
}

.Securities .savings .save-5th a{
    position: relative;
    top: 60px;
    text-decoration: none;
    color: #111;
}

.Securities .invest{
    border: 1px solid #111;
    display: flex;
    height: 700px;
    padding-top: 90px;
}

.Securities .invest .i-message{
    height: 470px;
    width: 590px;
    position: relative;
    left: 290px;
    padding-top: 30px;
    padding-left: 30px;
}

.Securities .invest img{
    position: relative;
    left: 150px;
    height: 550px;
    width: 250px;
}

.Securities .invest .pop-up{
    margin-bottom: 50px;
    color: rgb(131, 24, 202);
    height: 40px;
    width: 200px;
    border-radius: 14px;
    font-size: 15px;
    padding: 3px 14px 0px 29px;
    font-weight: 800;
    background-color: rgb(230, 230, 220, 0.3);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Securities .invest h1{
    font-size: 50px;
    margin-bottom: 30px;
    color: rgb(3, 24, 36);    
}

.Securities .invest p{
    line-height: 26px;
    margin-bottom: 40px; 
    color:rgb(3, 24, 36);    
}
.Securities .invest a{
    text-decoration: none;
    color: rgb(43, 116, 226);
}

.Exclusive{
    border: 1px solid#222;
    display: flex;
    background-color: rgb(43, 116, 226);
    padding: 0px 0px 0px 0px;

}

.Exclusive h1{
    font-size: 55px;
    color: white;
    margin-bottom: 20px;
}

.Exclusive .news{
    position: relative;
    top: 60px;
    left: 90px;
}

.Exclusive p{
    color: bisque;
    margin-bottom: 65px;
    line-height: 25px;
    font-size: 17px;
    font-weight: 600;
}

.Exclusive img{
    position: relative;
    left: 395px;
    width: 360px;
    height: 460px;
}

.Exclusive a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 600;
}

.Customers{
    border: 1px solid #222;
    margin-top: 30px;
    display: flex;
    height: 500px;
    justify-content: space-around;
}
.Customers img{
    width: 350px;
    height: 350px;
}

.Customers .cus{
    border-left: 90px;
    width: 570px;
    height: 400px;
}

.Customers .cus h1{
    margin-bottom: 30px;
    font-size: 35px;
    color: rgb(3, 24, 36);
}

.Customers .cus p{
    line-height: 25px;
}

.Customers .cus a{
    border: 1px solid rgb(204, 203, 203);
    margin-left: 2px;
    padding: 17px 17px 17px 17px;
    text-decoration: none;
    color: #111;
    border-radius: 10px;
    font-size: 13px;
    font-weight:500;
    margin-top: 40px;
}

.Customers .cus .sublinks{
    height: 190px;
    width: 620px;
}

.Customers .cus .apple{
    position: relative;
    top: 110px;
    right: 210px;
}

.Customers .cus .android{
    position: relative;
    top: 110px;
    right: 200px;
}

.Customers .cus .account{
    padding: 18px 30px 18px 30px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background-color:rgb(3, 24, 36);
    font-weight: 600; 
    border: 1px solid #111;
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;
    top: 30px;
    right: 20px;
}

.Customers .cus img{
    width: 20px;
    height: 10px;
    width: 30px;
     margin-right: 7px;
     height: 28px;
     position: relative;
     top: 9px;
}

.Ads{
    border: 1px solid #111;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: rgb(230, 230, 220, 0.3); ;
}

.Ads h1{
    margin-right: 170px;
    margin-left: 190px;
    margin-top: 19px;
    color: rgb(3, 24, 36); 
}

.Ads img{
    width: 170px;
    height: 90px;
}


footer{
    display: flex;
    justify-content: space-around;
    height: 500px;
}
footer h2{
    margin-right: 30px;
    font-size: 30px;
    color: rgb(3, 24, 36);
    margin-top: 80px;
}
footer h6{
    font-size: 13px;
    color: rgb(3, 24, 36);
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer a{
    text-decoration: none;
    color: rgb(3, 24, 36);
    margin-bottom: 11px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


footer .Pro{
    display: flex;
    flex-direction: column;
    height: 165px;
    margin-right: 150px;
    margin-top: 70px;
}

footer .Com{
    display: flex;
    flex-direction: column;
    height: 165px;
    margin-right: 120px;
    margin-top: 70px;
}

footer .Leg{
    display: flex;
    flex-direction: column;
     height: 165px;
     margin-right: 90px;
     margin-top: 70px;
}

footer .contact p{
    margin-bottom: 30px;
    font-size: 15px;
    color: rgb(3, 24, 36);
} 

footer .contact .number{
  position: relative;
  top: 20px;
  right: 130px;
}

footer img{
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 30px;

}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
        
.heading{
    width: 10%;
    height: 1000px;
    margin-bottom: 990px;
 }
 
 .heading .fixed-header{
     display: flex;
     justify-content: space-around;
 }
 
 .heading .fixed-header .logo{
     margin-left: 390px;
     display: flex;
     padding-top: 20px;
 }
 
 .heading .fixed-header .logo h2{
     font-size: 39px;
     color: rgb(3, 24, 36);
     font-weight: 700;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 .heading .fixed-header .logo img{
     width: 59px;
     height: 59px;
 }
 
 .heading .fixed-header .nav-middle{
     display: none;
     margin: 0px 10px 0px 0px;
     padding: 20px 60px 0px 0px;
 }
 
 .heading .fixed-header .nav-middle ul{
        display: none;
         list-style: none;
 
 
 }
 
 .heading .fixed-header .nav-middle ul li{
     margin: 0 19px 0 27px;
     position: relative;
     display: flex;
     flex-wrap: nowrap;
     padding: 7px 5px 7px 5px;
     color: rgb(3, 24, 36);
     font-size: 16px;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight:600;
 }
 
 .heading .fixed-header .nav-middle ul li a{ 
     text-decoration: none;
     color: rgb(3, 24, 36);
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 .drop-menu{
     display: none;
 }
 
 .heading .fixed-header .nav-middle ul li:hover .drop-menu{
     display: block;
     position: absolute;
     left: 0;
     top: 100%;
     left: -190px;
 }
 
 .heading .fixed-header .nav-middle .drop-menu ul{
     display: flex;
     border: 1px solid #111;
     flex-wrap: wrap;
     width: 420px;
     height: 140px;
     border-radius: 20px;
 }
 
 .heading .fixed-header .nav-middle .drop-menu ul li{
        width: 150px;
        height: 60px;
        padding-right: 80px;
        margin-bottom: 0px;
        display: flex;
        flex-wrap: nowrap;
 }
 
 
 .heading .fixed-header .nav-right{
     display: none;
     padding: 30px 10px 39px 30px;
     margin: 0px 20px 0px 0px;
 }
 
 .heading .fixed-header .nav-right a{ 
     margin: 0px 50px 0px 0;
     text-decoration: none;
 }
 .heading .fixed-header .nav-right .sign-up{
     padding: 18px 18px 18px 18px;
     border-radius: 10px;
     color: black;
     font-size: 16px;
     font-weight: 700;
 }
 
 .heading .fixed-header .nav-right .sign-up:hover{
     color: rgb(8, 140, 180);
     border-color: rgb(8, 140, 180);
     transition-duration: 1s;
     
 }
 
 .heading .fixed-header .nav-right .account{
     padding: 18px 30px 18px 30px;
     border-radius: 10px;
     color: white;
     background-color:rgb(3, 24, 36);
     font-weight: 600; 
 }
 
 .heading .fixed-header .nav-right .account:hover{
     background-color:  rgb(8, 140, 180);
     transition: 1s;
 }
 
 
 .heading .relative-header{
     margin: 7px 0 40px 0;
     padding: 70px 0 30px 0px;
     border: 1px solid #111;
     height: 950px;
     width: 900px;
     align-items: flex-start;
     display: flex;
     flex-direction: column;
 }
 .heading .relative-header .rel-textheader{
     padding: 5px 0 20px 0px;
     height: 200px;
     width: 90%;
     align-items: center;
     border: 1px solid #111;
 }
 
 
 .heading .relative-header h1{
     font-size: 66px;
     border: 1px solid red;
     width: 70%;
     margin-left: 90px;
     height: 150px;
     padding: 0px 0px 0px 50px;
     color: rgb(3, 24, 36);
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-bottom: 170px;
 }
 .heading .relative-header p{
     border: 1px solid #222;
     width: 690px;
     font-size: 34px;
     align-items: center;
     font-weight: 500;
     line-height: 36px;
     margin-left: 90px;
 }
     
 
 
 .heading .relative-header .relative-links{   
       margin: 70px 0px 40px 90px;
       border: 1px solid chocolate;
       padding: 0px 0px 0px 0px;
       height: 400px;
       width: 590px;
       display: inline-block;
    }
 
 .heading .relative-header .relative-links .relative-sublinks{
         margin: 50px 0 0 0px;
         border: 1px solid navy;
         padding: 40px 40px 40px 0px;
         width: 790px;
     }
 
 .heading .relative-header .relative-links .relative-sublinks a{
     border: 1px solid rgb(204, 203, 203);
     margin-left: 2px;
     margin-right: 20px;
     padding: 15px 15px 15px 15px;
     text-decoration: none;
     color: #111;
     border-radius: 20px;
     font-size: 39px;
     font-weight:500;
 }    
 
 
 .heading .relative-header .relative-links .account{
     padding: 30px 42px 30px 42px;
     text-decoration: none;
     border-radius: 20px;
     color: white;
     background-color:rgb(3, 24, 36);
     font-weight: 600; 
     font-size: 30px;
     border: 1px solid #111;
     margin-bottom: 20px;
     margin-left: 130px;
 
 }
 .heading .relative-header .relative-links img{
      width: 45px;
      border: 1px solid #111;
      margin-right: 7px;
      height: 39px;
      position: relative;
      top: 9px;
 }
 
 .heading .relative-header .rel-image .cover img{
     border: 1px solid#888;
     margin-left: 190px;
     position: relative;
     bottom: 100px;
     right: 40px;
     border-radius: 20px;
     z-index: 3;
 }
 .heading .relative-header .rel-image .white img{  
      border: 2px solid#222;
      position: relative;
      bottom: 630px;
      left: 190px;
      height: 560px;
      border-radius: 20px;
      width: 340px;
      z-index: 1;
 }
 
 .Securities{
     margin-top: 0px;
 }
 
 .Securities .secure{
     border: 1px solid #111;
     text-align: center;
     margin: 0px 0px 150px 50px;
     padding: 150px 0px 30px 0px;
     height: 400px;
     width: 700px;
 }
 
 
 
 .Securities .secure img{
        width: 170px;
        height: 170px;
        position: relative;
        right: 10px;
        bottom: 290px;
 
 }
 .Securities .secure h1{
     margin-left: 90px;
     margin-bottom: 0px;
     font-size: 39px;
     width: 500px;
     position: relative;
     right: 20px;
     bottom: 250px;
     color: rgb(3, 24, 36);
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
 }
 
 .Securities .secure p{
     margin-top: 0px;
     width: 490px;
     margin-left: 80px;
     font-size: 26px;
     line-height: 35px;
     position: relative;
     bottom: 230px;
 
 }
 
 .Securities .secure a{
     text-decoration: none;
     padding: 4px 4px 4px 4px;
     color: rgb(8, 140, 180);
     margin: 90px 0px 0px 0px;
     border: 1px solid #333;
     position: relative;
     bottom: 190px;
     right: 30px;
 }
 
 .Securities .secure a::after{
    content: "";
    background-color: black;
    width: 0%;
    height: 0px;
    display: inline-block;
    border-bottom: 3px solid #444;
    grid-column: auto;
 
 
 } 
 .Securities .secure a:hover::after{
     width: 10%;
     transition: all 0.5s ease-in-out;
 }
 
 
 
 .Securities .savings{
     display: flex;
     flex-wrap: wrap;
     width: 500px;
     justify-content: space-around;
     height: 700px;
     margin-bottom: 1300px;
     margin-left: 90px;
 }
 
 .Securities .savings .save-intro{
     margin-left: 50px;
     height: 300px;
     padding: 0px 30px 0px 30px;
 }
 
 
 .Securities .savings .save-intro h1{
     font-size: 35px;
     color: rgb(3, 24, 36);
     line-height: 42px;
     margin-bottom: 12px;
 }
 .Securities .savings .save-intro p{
     line-height: 25px;
 }
 
 .Securities .savings .save-intro a{
     padding: 18px 30px 18px 30px;
     text-decoration: none;
     border-radius: 10px;
     color: white;
     background-color:rgb(3, 24, 36);
     font-weight: 600; 
     border: 1px solid #111;
     position: relative;
     top: 50px;
     
 }
 
 
 .Securities .savings .save-2nd{
     margin-left: 50px;
     height: 300px;
     margin-bottom: 30px;
     border-radius: 20px;
     padding: 0px 30px 0px 30px;
     background-color: rgb(230, 230, 220, 0.3);
 }
 .Securities .savings .save-2nd img{
     margin-bottom: 40px;
 }
 
 .Securities .savings .save-2nd h2{
     font-size: 19px;
     color: rgb(3, 24, 36);
 }
 
 .Securities .savings .save-2nd p{
     line-height: 25px;
     margin-top: 20px;
 }
 
 .Securities .savings .save-2nd a{
     position: relative;
     top: 60px;
     text-decoration: none;
     color: #111;
 }
 
 .Securities .savings .save-3rd{
     margin-left: 50px;
     height: 300px;
     margin-bottom: 30px;
     border-radius: 20px;
     padding: 0px 30px 0px 30px;
     background-color: rgb(230, 230, 220, 0.3);
 }
 
 .Securities .savings .save-3rd img{
     margin-bottom: 40px;
 }
 
 
 .Securities .savings .save-3rd h2{
     font-size: 19px;
     color: rgb(3, 24, 36);
 }
 .Securities .savings .save-3rd p{
     line-height: 25px;
     margin-top: 0px;
 }
 
 .Securities .savings .save-3rd a{
     position: relative;
     top: 60px;
     text-decoration: none;
     color: #111;
 }
 
 .Securities .savings .save-4th{
     height: 300px;
     border-radius: 20px;
     padding: 0px 30px 0px 30px;
     margin-left: 50px;
     margin-bottom: 30px;
     background-color: rgb(230, 230, 220, 0.3);
 }
 
 .Securities .savings .save-4th img{ 
     margin-bottom: 40px;
 }
 
 .Securities .savings .save-4th h2{
     font-size: 19px;
     color: rgb(3, 24, 36);
 }
 
 .Securities .savings .save-4th p{
     line-height: 25px;
     margin-top: 0px;
 }
 
 .Securities .savings .save-4th a{
     position: relative;
     top: 60px;
     text-decoration: none;
     color: #111;
 }
 
 .Securities .savings .save-5th{
     height: 300px;
     border-radius: 20px;
     padding: 0px 30px 0px 30px;
     margin-left: 50px;
     margin-top: 30px;
     background-color: rgb(230, 230, 220, 0.3);
 }
 
 .Securities .savings .save-5th img{
     margin-bottom: 40px;
 }
 
 .Securities .savings .save-5th h2{
     font-size: 19px;
     color: rgb(3, 24, 36);
 
 }
 
 .Securities .savings .save-5th p{
     line-height: 25px;
     margin-top: 0px;
 }
 
 .Securities .savings .save-5th a{
     position: relative;
     top: 60px;
     text-decoration: none;
     color: #111;
 }
 
 .Securities .invest{
     border: 1px solid #111;
     display: flex;
     flex-wrap: wrap;
     height: 700px;
     width: 500px;
     margin-left: 90px;
     padding-top: 90px;
     margin-bottom: 590px;
 }
 
 .Securities .invest .i-message{
     height: 470px;
     width: 590px;
     position: relative;
     left: 90px;
     padding-top: 130px;
     padding-left: 0px;
 }
 
 .Securities .invest img{
     position: relative;
     left: 150px;
     height: 550px;
     width: 250px;
 }
 
 .Securities .invest .pop-up{
     margin-bottom: 50px;
     color: rgb(131, 24, 202);
     height: 40px;
     width: 200px;
     border-radius: 14px;
     font-size: 15px;
     padding: 3px 14px 0px 29px;
     font-weight: 800;
     background-color: rgb(230, 230, 220, 0.3);
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 .Securities .invest h1{
     font-size: 50px;
     margin-bottom: 30px;
     color: rgb(3, 24, 36);    
 }
 
 .Securities .invest p{
     line-height: 26px;
     margin-bottom: 40px; 
     color:rgb(3, 24, 36);    
 }
 .Securities .invest a{
     text-decoration: none;
     color: rgb(43, 116, 226);
 }

 
.Exclusive{
    border: 1px solid#222;
    display: flex;
    margin-bottom: 590px;
    width: 900px;
    height: 1000px;
    flex-wrap: wrap;
    background-color: rgb(43, 116, 226);
    padding: 0px 0px 0px 0px;

}

.Exclusive h1{
    font-size: 55px;
    margin-left: 70px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.Exclusive .news{
    position: relative;
    top: 60px;
    left: 90px;
}

.Exclusive p{
    color: bisque;
    text-align: center;
    margin-left: 70px;
    margin-bottom: 65px;
    line-height: 25px;
    font-size: 17px;
    font-weight: 600;
}

.Exclusive img{
    position: relative;
    left: 95px;
    top: 90px;
    width: 590px;
    height: 490px;
}

.Exclusive a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 600;
    margin-left: 70px;
}

.Customers{
    border: 1px solid #222;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin-left: 30px;
    height: 1300px;
    margin-bottom: 390px;
    justify-content: space-around;
}
.Customers img{
    width: 390px;
    height: 390px;
    margin-bottom: 0px;
}

.Customers .cus{
    margin-left: 190px;
    width: 570px;
    height: 400px;
}

.Customers .cus h1{
    margin-bottom: 30px;
    font-size: 39px;
    color: rgb(3, 24, 36);
}

.Customers .cus p{
    line-height: 34px;
    font-size: 34px;
    margin-bottom: 90px;
}

.Customers .cus a{
    border: 1px solid rgb(204, 203, 203);
    margin-left: 0px;
    height: 30px;
    width: 140px;
    padding: 10px 7px 0px 10px;
    text-decoration: none;
    color: #111;
    border-radius: 10px;
    font-size: 10px;
    font-weight:500;
    margin-top: 0px;
}

.Customers .cus .sublinks{
    height: 30px;
    width: 590px;
    display: flex;
    flex-wrap: nowrap; 
    border: 1px solid red;
}

.Customers .cus .apple{
    position: relative;
    top: 30px;
    right: 190px;
}

.Customers .cus .android{
    position: relative;
    top: 10px;
    right: 80px;
}

.Customers .cus .account{
    padding: 18px 30px 18px 30px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background-color:rgb(3, 24, 36);
    font-weight: 600; 
    border: 1px solid #111;
    margin-bottom: 90px;
    margin-left: 20px;
    position: relative;
    top: -30px;
    right: 20px;
}

.Customers .cus img{
    width: 20px;
    height: 10px;
     margin-left: 40px;
     height: 28px;
     position: relative;
     top: 9px;
}

.Ads{
    border: 1px solid #111;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: rgb(230, 230, 220, 0.3); ;
}

.Ads h1{
    margin-right: 170px;
    margin-left: 190px;
    margin-top: 19px;
    color: rgb(3, 24, 36); 
}

.Ads img{
    width: 170px;
    height: 90px;
}


footer{
    display: flex;
    justify-content: space-around;
    height: 500px;
}
footer h2{
    margin-right: 30px;
    font-size: 30px;
    color: rgb(3, 24, 36);
    margin-top: 80px;
}
footer h6{
    font-size: 13px;
    color: rgb(3, 24, 36);
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer a{
    text-decoration: none;
    color: rgb(3, 24, 36);
    margin-bottom: 11px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


footer .Pro{
    display: flex;
    flex-direction: column;
    height: 165px;
    margin-right: 150px;
    margin-top: 70px;
}

footer .Com{
    display: flex;
    flex-direction: column;
    height: 165px;
    margin-right: 120px;
    margin-top: 70px;
}

footer .Leg{
    display: flex;
    flex-direction: column;
     height: 165px;
     margin-right: 90px;
     margin-top: 70px;
}

footer .contact p{
    margin-bottom: 30px;
    font-size: 15px;
    color: rgb(3, 24, 36);
} 

footer .contact .number{
  position: relative;
  top: 20px;
  right: 130px;
}

footer img{
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 30px;

}

  }

   /* Tablet Styles */
   @media only screen and (min-width: 401px) and (max-width: 960px) {

  }

 /* Desktop Styles */
 @media only screen and (min-width: 961px) {
    body {
      background-color: #B2D6FF; /* Blue */
        
    }
 }







/*
margin: 20px 0 0 0;
border: 1px solid #444;
padding: 20px 20px 20px 0px;
border: 1px solid#888;
}


  border: 1px solid rgb(204, 203, 203);
    margin-left: 2px;
    padding: 17px 17px 17px 17px;
    text-decoration: none;
    color: #111;
    border-radius: 10px;
    font-size: 13px;
    font-weight:500;

 width: 30px;
     border: 1px solid #111;
     margin-right: 7px;
     height: 28px;
     position: relative;
     top: 9px;
}

