@import url('https://fonts.googleapis.com/css2?fM+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
}

.heading,
.nav-right,
.page-links{
   display: flex;
}

.heading {
   display: flex;
   width: 95%;
   margin: 0 auto;
   margin-top: 10px;
   border: 1px solid purple;
   top: 0; 
   justify-content: space-between; 
}
.heading .new{
    display: flex;
    height: 90px;
    padding-top: 10px;
    border: 3px solid;
}

.logo{
    display: inline-block;
    width: 170px;
    margin-left: 0px;
    height: auto;
}
.nav-right{
    width: 50%;
    margin: 0 auto;
    justify-content: flex-end;
    display: flex;
}

.page-links{
    list-style-type: none;
    margin-left: 0px;
    margin: 0 auto;
}

.hamburger-menu-icon{
    display: none;
}



.page-links > li  {
  margin: 0 auto;
  font-size: 17px;
  padding: 10px 20px;
  color: rgb(3, 24, 36);
}

.page-links li a{
    text-decoration: none;
    color: rgb(3, 24, 36);

}

.login{
 height: auto;    
}

.login .sign-up{
    color: black;
    padding: 16px 20px;
    border: 1px solid;
    margin: 5px 0 0 0;
    height: max-content;
    border-radius: 10px;
    font-size: 17px;

}
.login .account{
    color: white;
    padding: 16px 20px;
    margin: 6px 0 0 0;
    border: 1px solid;
    border-radius: 10px;
    height: max-content;
    font-size: 17px;
    background-color:rgb(3, 24, 36);
}


.login{
    margin: 0px 0px 0 0;
    border: 2px solid darkblue;
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.login a{
    text-decoration: none;
    font-weight: 700;
    margin-top: 3px;
}

.hero-section,
.hero-image{
    display: flex;
}

.hero-section{
    border: 1px solid firebrick;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin: 90px auto 0 auto 0;
    margin-left: 30px;
}

.hero-head{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 130px;
    width: 40%;
}

.hero-sublinks img{
    width: 20px;
}

.hero-head h1{
    font-size: 65px;
    border: 1px solid darkgray;
    display: flex;
    justify-content: center;
    color: rgb(3, 24, 36);
    line-height: 70px;
}

.hero-head p{
   font-size: 16px;
   align-items: flex-start;
   border: 1px solid chartreuse;
   line-height: 22px;
   margin-bottom: 30px;
}

.hero-links{
    border: 1px solid violet;
}

.hero-links .account{
   margin-bottom: 40px;
   border: 1px solid darkgrey;
   color: white;
   padding: 19px 23px;
   width: 20%;
   border: 1px solid black;
   border-radius: 10px;
   font-weight: 600;
   font-size: 17px;
   background-color:rgb(3, 24, 36);
   margin-bottom: 0px;
   margin-left: 0px;
}

.hero-links a{
    text-decoration: none;
    font-weight: 300;
}


.hero-links .hero-sublinks{
    margin-top: 40px;
    padding: 0px 30px 0px 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
}

.hero-links .hero-sublinks a{
    text-decoration: none;
    border: 1px solid gray;
    margin-right: 2px;
    margin-left: 0px;
    padding: 8px 15px;
    color: #111;
    background-color: white;
    border-radius: 10px;
}

.hero-links .hero-sublinks a:first-child{
    margin-right: 8px;
}

.hero-links .hero-sublinks img{
    margin-top: 3px;
    position: relative;
    top: 2px;
    right: 3px;
    background-color: white;
}
.hero-image{
    width: 43%;
    border: 3px solid salmon;
    margin: 0 auto;
}

.hero-image .white{
    z-index: 1;
    position: relative;
    right: 90px;
    bottom: 0px;
    width: 950px;
    height: 570px;
    padding: 0px 0 0px 0;
}
.hero-image .white img{
    position: relative;
    border: 2px solid black;
    width: 350px;
    height: 100%;
    right: 190px;
    border-radius: 20px;
}

.hero-image .cover{
    position: relative;
    z-index: 2;
}
 
.hero-image .cover img{
   border-radius: 10px;
   position: relative;
   top: 20px;
   left: 20px;
}

.Securities{
    border: 1px solid red;    
}

.Securities .secure{
    border: 1px solid gray;
    display: flex;
    margin: 90px auto;
    width: 90%;
    border: 2px solid rebeccapurple;
    align-items: center;
    justify-content: center;
}

.secure img{
    border-radius: 10px 10px 290px 290px;
    height: 120px;
    margin-right: 50px;
    margin-top: 50px;
}

.Securities .secure h1{
    font-size: 30px;
    color: rgb(3, 24, 36);
    margin-bottom: 10px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Securities .secure p{
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px;
}

.Securities .secure a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(58, 58, 245);
}

.Securities .secure a::after{
    content: "";
    background-color: black;
    width: 0%;
    height: 0px;
    display: none;
    border-bottom: 3px solid #444;
    grid-column: auto; 
 } 
 .Securities .secure a:hover::after{
     width: 10%;
     transition: all 0.5s ease-in-out;
 }
 
 
 
 .Securities .savings{
     border: 1px solid;
     height: 700px;
     width: 100%;
     margin-bottom: 300px;
     margin-top: 320px;
 }

 .Securities .savings .top{
    display: flex;
    justify-content: space-between;
 }
 
  .Securities .savings .bottom{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
  }

 .Securities .savings .save-intro{
     height: 300px;
     width: 330px;
     border: 1px solid;
     margin-left: 0px;
     padding: 0px 30px 0px 30px;
 }
 
 
 .Securities .savings .save-intro h1{
     font-size: 35px;
     color: rgb(3, 24, 36);
     line-height: 42px;
     margin-bottom: 12px;
 }
 .Securities .savings .save-intro p{
     line-height: 25px;
 }
 
 .Securities .savings .save-intro a{
     padding: 18px 30px 18px 30px;
     text-decoration: none;
     border-radius: 10px;
     color: white;
     background-color:rgb(3, 24, 36);
     font-weight: 600; 
     border: 1px solid #111;
     position: relative;
     top: 50px;   
 }
 
 
 .Securities .savings .save-2nd{
     height: 300px;
     width: 330px;    
     margin-right: 0px; 
     border: 1px solid lawngreen;
     border-radius: 20px;
     padding: 0px 30px 0px 30px;
     background-color: rgb(230, 230, 220, 0.3);
 }
 .Securities .savings .save-2nd img{
     margin-bottom: 40px;
 }
 
 .Securities .savings .save-2nd h2{
     font-size: 19px;
     color: rgb(3, 24, 36);
 }
 
 .Securities .savings .save-2nd p{
     line-height: 25px;
     margin-top: 20px;
 }
 
 .Securities .savings .save-2nd a{
     position: relative;
     top: 60px;
     text-decoration: none;
     color: #111;
 }
 
 .Securities .savings .save-3rd{
     height: 300px;
     width: 330px;
     margin-right: 30px;
     border-radius: 20px;
     padding: 0px 30px 0px 30px;
     background-color: rgb(230, 230, 220, 0.3);
 }
 
 .Securities .savings .save-3rd img{
     margin-bottom: 40px;
 }
 
 
 .Securities .savings .save-3rd h2{
     font-size: 19px;
     color: rgb(3, 24, 36);
 }
 .Securities .savings .save-3rd p{
     line-height: 25px;
     margin-top: 0px;
 }
 
 .Securities .savings .save-3rd a{
     position: relative;
     top: 60px;
     text-decoration: none;
     color: #111;
 }
 
 .Securities .savings .save-4th{
     height: 300px;
     width: 330px;
     margin-left: 50px;
     border-radius: 20px;
     padding: 0px 30px 0px 30px;
     margin-left: 0px;
     background-color: rgb(230, 230, 220, 0.3);
 }
 
 .Securities .savings .save-4th img{ 
     margin-bottom: 40px;
 }
 
 .Securities .savings .save-4th h2{
     font-size: 19px;
     color: rgb(3, 24, 36);
 }
 
 .Securities .savings .save-4th p{
     line-height: 25px;
     margin-top: 0px;
 }
 
 .Securities .savings .save-4th a{
     position: relative;
     top: 60px;
     text-decoration: none;
     color: #111;
 }
 
 .Securities .savings .save-5th{
     height: 300px;
     width: 330px;
     border-radius: 20px;
     padding: 0px 30px 0px 30px;
     margin-left: 50px;
     margin-right: 30px;
     background-color: rgb(230, 230, 220, 0.3);
 }
 
 .Securities .savings .save-5th img{
     margin-bottom: 40px;
 }
 
 .Securities .savings .save-5th h2{
     font-size: 19px;
     color: rgb(3, 24, 36);
 
 }
 
 .Securities .savings .save-5th p{
     line-height: 25px;
     margin-top: 0px;
 }
 
 .Securities .savings .save-5th a{
     position: relative;
     top: 60px;
     text-decoration: none;
     color: #111;
 }
 
 .Securities .invest{
     border: 1px solid #111;
     display: flex;
     height: 700px;
     padding-top: 90px;
 }
 
 .Securities .invest .i-message{
     height: 470px;
     width: 590px;
     position: relative;
     left: 290px;
     padding-top: 30px;
     padding-left: 30px;
 }
 
 .Securities .invest img{
     position: relative;
     left: 150px;
     height: 550px;
     width: 250px;
     border-radius: 39px;
 }
 
 .Securities .invest .pop-up{
     margin-bottom: 50px;
     color: rgb(131, 24, 202);
     height: 40px;
     width: 200px;
     border-radius: 14px;
     font-size: 15px;
     padding: 3px 14px 0px 29px;
     font-weight: 800;
     background-color: rgb(230, 230, 220, 0.3);
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 .Securities .invest h1{
     font-size: 50px;
     margin-bottom: 30px;
     color: rgb(3, 24, 36);    
 }
 
 .Securities .invest p{
     line-height: 26px;
     margin-bottom: 40px; 
     color:rgb(3, 24, 36);    
 }
 .Securities .invest a{
     text-decoration: none;
     color: rgb(43, 116, 226);
 }
 
 .Exclusive{
    border: 1px solid#222;
    display: flex;
    background-color: rgb(43, 116, 226);
    padding: 0px 0px 0px 0px;

}

.Exclusive h1{
    font-size: 55px;
    color: white;
    margin-bottom: 20px;
}

.Exclusive .news{
    position: relative;
    top: 60px;
    left: 90px;
}

.Exclusive p{
    color: bisque;
    margin-bottom: 65px;
    line-height: 25px;
    font-size: 17px;
    font-weight: 600;
}

.Exclusive img{
    position: relative;
    left: 205px;
    width: 360px;
    height: 460px;
    object-fit: contain;
}

.Exclusive a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: 600;
}

.Customers{
    border: 1px solid #222;
    margin-top: 30px;
    display: flex;
    height: 500px;
    justify-content: space-around;
}
.Customers img{
    width: 350px;
    height: 350px;
}

.Customers .cus{
    border-left: 90px;
    width: 570px;
    height: 400px;
}

.Customers .cus h1{
    margin-bottom: 30px;
    font-size: 35px;
    color: rgb(3, 24, 36);
}

.Customers .cus p{
    line-height: 25px;
}

.Customers .cus a{
    border: 1px solid rgb(204, 203, 203);
    margin-left: 2px;
    padding: 17px 17px 17px 17px;
    text-decoration: none;
    color: #111;
    border-radius: 10px;
    font-size: 13px;
    font-weight:500;
    margin-top: 40px;
}

.Customers .cus .sublinks{
    height: 190px;
    width: 620px;
}

.Customers .cus .apple{
    position: relative;
    top: 110px;
    right: 210px;
}

.Customers .cus .android{
    position: relative;
    top: 110px;
    right: 200px;
}

.Customers .cus .account{
    padding: 18px 30px 18px 30px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background-color:rgb(3, 24, 36);
    font-weight: 600; 
    border: 1px solid #111;
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;
    top: 30px;
    right: 20px;
}

.Customers .cus img{
    width: 20px;
    height: 10px;
    width: 30px;
     margin-right: 7px;
     height: 28px;
     position: relative;
     top: 9px;
}

.Ads{
    border: 1px solid #111;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: rgb(230, 230, 220, 0.3); ;
}

.Ads h1{
    margin-right: 100px;
    margin-left: 90px;
    margin-top: 19px;
    color: rgb(3, 24, 36); 
}

.Ads img{
    width: 170px;
    height: 90px;
}


footer{
    justify-content: space-around;
    height: 380px;
}

.foot-logo{
  width: 200px;
  height: 70px;
  border: 1px solid tan;
}

footer h2{
    margin-right: 30px;
    font-size: 30px;
    color: rgb(3, 24, 36);
    margin-top: 80px;
}
footer h6{
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(3, 24, 36);
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer a{
    text-decoration: none;
    color: rgb(3, 24, 36);
    margin-bottom: 11px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


footer .Pro{
    display: flex;
    flex-direction: column;
    height: 165px;
    margin-right: 150px;
    margin-top: 0px;
}

footer .Com{
    display: flex;
    flex-direction: column;
    height: 165px;
    margin-right: 120px;
    margin-top: 0px;
}

footer .Leg{
    display: flex;
    flex-direction: column;
     height: 165px;
     margin-right: 90px;
     margin-top: 0px;
}

footer .top{
    display: flex;
    padding: 0 40px;
}
footer .list{
    display: flex;
    border: 1px solid;
}

footer .contact{
    display: block;
    flex-direction: column;
    text-align: end;
    border: 1px solid red;
}

footer .contact a{
    right: 0;
    display: block;
    text-decoration: none;
    color: rgb(3, 24, 36);
    margin-bottom: 1px;
    font-size: 15px;
    font-weight: 400;
}


footer .contact p{
    margin-bottom: 30px;
    font-size: 15px;
    color: rgb(3, 24, 36);
} 

footer .contact .number{
  position: relative;
  top: 0px;
  right: 10px;
}

footer img{
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
}

footer .closing{
    border: 1px solid yellow;
    margin-top: 40px;
    font-size: 0.85rem;
    text-align: center;
    padding: 0 190px;
}

footer .closing .blue{
    margin-top: 50px;
    color: blue;
}


@media only screen and (max-width: 990px) {
       .page-links{
           display: none;
       }

       .heading{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
    }

    .nav-right{
        display: none;
    }

    .hamburger-menu-icon{
        display: flex;
    }
    .hamburger-menu-icon img{
        width: 30px;
        height: 30px;
    }

    .logo{
        width: 150px;
    }

    .hero-section{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: 500px;
        margin-top: 20px;
    }

    .hero-section .hero-head {
         width: 90%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         border: 1px solid teal;
         padding-top: 0px;
         margin: 0 auto;
    }

    .hero-section .hero-head h1{
        font-size: 58px;
        margin-top: 90px;
        margin-bottom: 30px;
        text-align: center;
        width: 500px;
        line-height: 70px;
        color: rgb(3, 24, 36);
    }

    .hero-section .hero-head p{
        margin-bottom: 20px; 
        color: rgb(3, 24, 36);
        line-height: 30px;
        font-size: 17px;
        border: 1px solid forestgreen;
        text-align: center;
    }

    .hero-links{
        padding: 20px 30px 30px 30px;
    }
    .hero-links a{
        text-decoration: none;
    }

    

    .hero-links .account{
        color: white;
        padding: 19px 23px;
        width: 20%;
        border: 1px solid black;
        border-radius: 10px;
        font-weight: 600;
        font-size: 17px;
        background-color:rgb(3, 24, 36);
        margin-bottom: 0px;
        margin-left: 90px;
    }

    .hero-links .hero-sublinks{
        margin-top: 40px;
        padding: 0px 30px 0px 0px;
        margin-right: 0px;
        display: flex;
        justify-content: space-around;
    }

    .hero-links .hero-sublinks a{
        text-decoration: none;
        border: 1px solid rgb(204, 203, 203);
        margin-right: 22px;
        margin-left: 16px;
        padding: 10px 20px;
        color: #111;
        border-radius: 10px;
    }

    .hero-links .hero-sublinks img{
        margin-top: 3px;
        position: relative;
        top: 2px;
        right: 3px;
    }

    
.hero-image{
    width: 69%;
    max-width: 590px;
    border: 3px solid salmon;
    margin: 40px auto;
    position: relative;
}

.hero-image .white{
    z-index: 1;
    position: relative;
    right: 90px;
    bottom: 0px;
    width: 900px;
    margin-right: 50px;
    height: 570px;
    padding: 0px 0 0px 0;
}
.hero-image .white img{
    position: relative;
    border: 2px solid black;
    max-width: 350px;
    height: 100%;
    right: 100px;
    border-radius: 20px;
}

.hero-image .cover{
    position: relative;
    z-index: 2;
    left: 90px;
    border: 1px solid tan; 
}
 
.hero-image .cover img{
   border-radius: 10px;
   margin: 0 auto;
   position: relative;
   top: 20px;
   height: 520px;
   left: 0px;
}

    .Securities .secure{
        border: 1px solid gray;
        display: flex;
        margin: 690px auto 70px auto;
        text-align: center;
        width: 90%;
        border: 2px solid rebeccapurple;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .secure img{
        border-radius: 10px 10px 290px 290px;
        height: 120px;
    
        margin: 50px 50px 50px 0 ;
    }
    
    .Securities .secure h1{
        font-size: 30px;
        color: rgb(3, 24, 36);
        margin-bottom: 10px;
        font-weight: 800;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .Securities .secure p{
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    
    .Securities .secure a{
        text-decoration: none;
        font-weight: 600;
        color: rgb(58, 58, 245);
    }
    
    .Securities .secure a::after{
        content: "";
        background-color: black;
        width: 0%;
        height: 0px;
        display: none;
        border-bottom: 3px solid #444;
        grid-column: auto; 
     } 
     .Securities .secure a:hover::after{
         width: 10%;
         transition: all 0.5s ease-in-out;
     }
     
    


    .Securities .savings{
        border: 1px solid forestgreen;
        height: 800px;
        width: 100%;
        margin-bottom: 300px;
        margin-top: 320px;
    }
   
    .Securities .savings .top{
       display: flex;
       margin: 10px auto;
        padding: 10px 0;
       flex-wrap: wrap;
       border: 1px solid red;
    }
    
     .Securities .savings .bottom{
       display: flex;
       flex-wrap: wrap;
       padding: 10px 0;
       border: 1px solid;
       margin: 10px auto;
     }
   
    .Securities .savings .save-intro{
        height: 300px;
        width: 690px;
        margin: 0px auto;
        text-align: center;
        border: 1px solid black;
        padding: 0px 30px 0px 30px;
    }
    
    
    .Securities .savings .save-intro h1{
        font-size: 29px;
        margin: 0 auto;
        color: rgb(3, 24, 36);
        line-height: 42px;
        margin-bottom: 12px;
    }
    .Securities .savings .save-intro p{
        line-height: 20px;
    }
    
    .Securities .savings .save-intro a{
        padding: 18px 30px 18px 30px;
        text-decoration: none;
        border-radius: 10px;
        color: white;
        background-color:rgb(3, 24, 36);
        font-weight: 600; 
        border: 1px solid #111;
        position: relative;
        top: 50px;   
    }
    
    
    .Securities .savings .save-2nd{
        height: 300px;
        width: 330px;    
        margin: 0px auto; 
        border: 1px solid lawngreen;
        border-radius: 20px;
        padding: 0px 30px 0px 30px;
        background-color: rgb(230, 230, 220, 0.3);
    }
    .Securities .savings .save-2nd img{
        margin-bottom: 40px;
    }
    
    .Securities .savings .save-2nd h2{
        font-size: 19px;
        color: rgb(3, 24, 36);
    }
    
    .Securities .savings .save-2nd p{
        line-height: 25px;
        margin-top: 20px;
    }
    
    .Securities .savings .save-2nd a{
        position: relative;
        top: 60px;
        text-decoration: none;
        color: #111;
    }
    
    .Securities .savings .save-3rd{
        height: 300px;
        width: 330px;
        border: 1px solid salmon;
        margin: 0 auto;
        border-radius: 20px;
        padding: 0px 30px 0px 30px;
        background-color: rgb(230, 230, 220, 0.3);
    }
    
    .Securities .savings .save-3rd img{
        margin-bottom: 40px;
    }
    
    
    .Securities .savings .save-3rd h2{
        font-size: 19px;
        color: rgb(3, 24, 36);
    }
    .Securities .savings .save-3rd p{
        line-height: 25px;
        margin-top: 0px;
    }
    
    .Securities .savings .save-3rd a{
        position: relative;
        top: 60px;
        text-decoration: none;
        color: #111;
    }
    
    .Securities .savings .save-4th{
        height: 300px;
        width: 330px;
        border: 1px solid saddlebrown;
        border-radius: 20px;
        padding: 0px 30px 0px 30px;
        margin: 0 auto;
        background-color: rgb(230, 230, 220, 0.3);
    }
    
    .Securities .savings .save-4th img{ 
        margin-bottom: 40px;
    }
    
    .Securities .savings .save-4th h2{
        font-size: 19px;
        color: rgb(3, 24, 36);
    }
    
    .Securities .savings .save-4th p{
        line-height: 25px;
        margin-top: 0px;
    }
    
    .Securities .savings .save-4th a{
        position: relative;
        top: 60px;
        text-decoration: none;
        color: #111;
    }
    
    .Securities .savings .save-5th{
        height: 300px;
        width: 330px;
        border: 3px solid silver; 
        border-radius: 20px;
        padding: 0px 30px 0px 30px;
        margin: 0px auto;
        background-color: rgb(230, 230, 220, 0.3);
    }
    
    .Securities .savings .save-5th img{
        margin-bottom: 40px;
    }
    
    .Securities .savings .save-5th h2{
        font-size: 19px;
        color: rgb(3, 24, 36);
    
    }
    
    .Securities .savings .save-5th p{
        line-height: 25px;
        margin-top: 0px;
    }
    
    .Securities .savings .save-5th a{
        position: relative;
        top: 60px;
        text-decoration: none;
        color: #111;
    }
    
    .Securities .invest{
        border: 1px solid #111;
        display: block;
        flex-direction: column;
        height: 1300px;
        padding-top: 0px;
    }
    
    .Securities .invest .i-message{
        height: 470px;
        width: 590px;
        position: relative;
        left: 0px;
        margin: 0 auto;
        border: 1px solid;
        text-align: center;
        padding-top: 90px;
        padding-left: 0px;
    }
    
    .Securities .invest img{
        position: relative;
        left: 300px;
        object-fit: cover;
        border: 1px solid chartreuse;
        height: 550px;
        width: 250px;
        border-radius: 39px;
    }
    
    .Securities .invest .pop-up{
        margin-bottom: 50px;
        border: 1px solid khaki;
        height: 40px;
        width: 200px;
        margin: 0 auto;
        border-radius: 14px;
        font-size: 15px;
        padding: 3px 14px 0px 29px;
        font-weight: 800;
        background-color: rgba(112, 112, 110, 0.3);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .Securities .invest .pop-up p{
        color:rgb(131, 24, 202);
    }
    
    .Securities .invest h1{
        font-size: 50px;
        margin-bottom: 30px;
        color: rgb(3, 24, 36);    
    }
    
    .Securities .invest p{
        line-height: 26px;
        margin-bottom: 40px; 
        color:rgb(3, 24, 36);    
    }
    .Securities .invest a{
        text-decoration: none;
        color: rgb(43, 116, 226);
    }

    .Exclusive{
        border: 1px solid red;
        display: block;
        background-color: rgb(43, 116, 226);
        padding: 0px 0px 0px 0px;
    
    }
    
    .Exclusive h1{
        font-size: 55px;
        color: white;
        margin-bottom: 20px;
        border: 1px solid gold;
    }
    
    .Exclusive .news{
        position: relative;
        top: 60px;
        left: 0px;
        text-align: center;
        margin-bottom: 90px;
        border: 1px solid green;
    }
    
    .Exclusive p{
        color: bisque;
        margin-bottom: 65px;
        line-height: 25px;
        font-size: 17px;
        font-weight: 600;
    }
    
    .Exclusive img{
        position: relative;
        left: 230px;
        width: 350px;
        height: 460px;
        margin: 0 auto;
        border: 1px solid firebrick;
        object-fit: cover;
    }
    
    .Exclusive a{
        text-decoration: none;
        color: white;
        font-size: 19px;
        font-weight: 600;
    }
    
    .Customers{
        border: 1px solid #222;
        margin-top: 30px;
        display: flex;
        margin: 30px auto;
        flex-direction: column-reverse;
        height: 700px;
        justify-content: space-around;
    }
    .Customers img{
        width: 350px;
        height: 350px;
        margin: 0 auto;
    }
    
    .Customers .cus{
        border-left: 20px;
        width: 570px;
        text-align: center;
        height: 400px;
        border: 1px solid seagreen;
        margin: 0 auto;
    }
    
    .Customers .cus h1{
        margin-bottom: 30px;
        font-size: 35px;
        color: rgb(3, 24, 36);
    }
    
    .Customers .cus p{
        line-height: 25px;
    }
    
    .Customers .cus a{
        border: 1px solid rgb(204, 203, 203);
        margin-left: 2px;
        padding: 17px 17px 17px 17px;
        text-decoration: none;
        color: #111;
        border-radius: 10px;
        font-size: 13px;
        font-weight:500;
        margin-top: 40px;
    }
    
    .Customers .cus .sublinks{
        height: 190px;
        width: 100%;
        border: 1px solid forestgreen;
        text-align: center;
    }
    
    .Customers .cus .apple{
        position: relative;
        top: 110px;
        right: 110px;
    }
    
    .Customers .cus .android{
        position: relative;
        top: 110px;
        right: 100px;
    }
    
    .Customers .cus .account{
        padding: 18px 30px 18px 30px;
        text-decoration: none;
        border-radius: 10px;
        color: white;
        background-color:rgb(3, 24, 36);
        font-weight: 600; 
        border: 1px solid #111;
        margin-bottom: 20px;
        margin-left: 90px;
        position: relative;
        top: 30px;
        right: -150px;
        margin: 0 auto;
    }
    
    .Customers .cus img{
        width: 20px;
        height: 10px;
        width: 30px;
         margin-right: 7px;
         height: 28px;
         position: relative;
         top: 9px;
    }

    .Ads{
        border: 1px solid #111;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-top: 30px;
        padding-bottom: 10px;
        background-color: rgb(230, 230, 220, 0.3); ;
    }
    
    .Ads h1{
        margin-right: 0px;
        text-align: center;
        margin: 20px auto;
        border: 1px solid;
        width: 100%;
        margin-left: 0px;
        margin-top: 19px;
        font-size: 1.6rem;
        color: rgb(3, 24, 36); 
    }

    .Ads div{
        margin: 0 auto;
    }
    
    .Ads img{
        width: 140px;
        height: 70px;
        margin: 0 auto;
        border: 1px solid;
    }
    
    
    footer .top{
        display: flex;
        flex-direction: column;
        height: 750px;
    }

    .foot-logo{
        width: 150px;
        border: 1px solid mediumslateblue;
        left: -30px;
        top: 70px;
        display: flex;
        justify-content: flex-start;
        position: relative;
    }

    footer .list{
       border: 1px solid red;
       padding-left: 30px;
       display: flex;
       width: 100%;
       flex-wrap: wrap;
    }

    footer h6{
        font-size: 1.2rem;
        margin-bottom: 0;
        color: rgb(3, 24, 36);
        font-weight: 800;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    footer a{
        text-decoration: none;
        color: rgb(3, 24, 36);
        margin-bottom: 11px;
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    
    footer .Pro{
        display: flex;
        flex-direction: column;
        height: 165px;
        width: 30%;
        border: 1px solid darkblue;
        margin-right: 150px;
        margin-top: 20px;
    }
    
    footer .Com{
        display: flex;
        flex-direction: column;
        height: 165px;
        width: 30%;
        border: 1px solid skyblue;
        margin-right: 120px;
        margin-top: 20px;
    }
    
    footer .Leg{
        display: flex;
        flex-direction: column;
         height: 165px;
         width: 100%;
         border: 1px solid palegreen;
         margin-right: 90px;
         margin-top: 20px;
    }

    footer .contact{
        border: 1px solid lawngreen;
        padding-left: 30px;
        text-align: start;
    }

    footer .contact a{
        display: block;
        font-size: 0.95rem;
        font-weight: 300;
    }

    footer .contact .email{
        border: 1px solid sandybrown;
        margin-bottom: 20px;
    }
    
    footer .contact p{
        margin-bottom: 20px;
        font-size: 15px;
        color: rgb(3, 24, 36);
    } 
    
    footer .contact .number{
      position: relative;
      top: 0px;
      right: 0px;
      margin-left: 0px;
      border: 1px solid red;
    }
    
    footer .contact img{
        width: 30px;
        height: 30px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    
    footer .closing{
       border: 1px solid teal;
       text-align: center; 
       color: rgb(3, 24, 36);
       font-size: 0.85rem;
       margin-bottom: 40px;
       padding: 0 40px;
       line-height: 25px;
    }

    footer .closing .blue{
        margin-top: 50px;
        color: rgb(0, 162, 255);
    }

}




/* Mobile Styles */
@media only screen and (max-width: 790px) {
    body{
        background-color: cornflowerblue;
    } 
    
    .Securities .invest{
        border: 1px solid #111;
        display: block;
        flex-direction: column;
        height: 1900px;
        margin-top: 230px;
        padding-top: 0px;
    }    
    .Securities .invest img{
        position: relative;
        left: 250px;
        object-fit: cover;
        border: 1px solid chartreuse;
        height: 550px;
        width: 250px;
        margin-top: 550px;
        border-radius: 39px;
    }

    .Securities .savings .top{
        display: flex;
        margin: 10px auto;
        padding: 10px 50px;   
        flex-wrap: wrap;
        border: 1px solid red;
     }
     
      .Securities .savings .bottom{
        display: flex;
        flex-wrap: wrap;
         padding: 10px 50px;
        border: 1px solid;
        margin: 10px auto;
      }
        
      .Securities .savings .save-2nd{
        height: 300px;
        width: 330px;    
        margin: 20px auto; 
        border: 1px solid lawngreen;
        border-radius: 20px;
        padding: 0px 30px 0px 30px;
        background-color: rgb(230, 230, 220, 0.3);
    }

    .Securities .savings .save-5th{
        height: 300px;
        width: 330px;
        border: 3px solid silver; 
        border-radius: 20px;
        padding: 0px 30px 0px 30px;
        margin: 20px auto;
        background-color: rgb(230, 230, 220, 0.3);
    }
    
}
